body,.App{
  overflow-x: hidden;
}

.up-arrow {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  background: #00d8ff;
  border: 1px solid #00d8ff;
  border-radius: 5px;
  transition: .5s;
  z-index: 2;
  display: none;
}

.up-arrow:hover{
  background: #2cdbb5;
  color: #fff;
  border-radius: 50%;
}

.block{
  display: block;
}

.active{
  color: #00d8ff !important;
  border-bottom:  2px solid #00d8ff;
}